.detail-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.detail-table th {
    background-color: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;
    padding: 0.5rem;
    text-align: left;
}

.detail-table td {
    border-bottom: 1px solid #e0e0e0;
    padding: 0.5rem;
    text-align: left;
}

.down-list {
    border: #eb3b5a 5px solid;
}

.status-down{
    border-left: 4px solid #eb3b5a;
}

.status-up{
    border-left: 4px solid #1b9454;
}

.title {
    font-size: .9rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.title img {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}

.uptime {
    font-size: .9rem;
    margin-bottom: 0.5rem;
    float: right;
}

@media screen and (min-width: 768px) {
    #list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

#status-body div {
    float: left;
}